<a id='toc'></a>
<center><h1>The Battle of Neighborhood</font></h1>

<a id='introduction'></a>
# Introduction
Kuala Lumpur and Johor Bahru are two major cities in Malaysia. Both cities become a center of attention for residential, job employment, tourism, education, shopping and sports activity. Both cities are well known in Malaysia, and become the top choice for local and foreign communities.

<a id='objective'></a>
# Objective
In this project, we will study in details the area classification using Foursquare data and machine learning segmentation and clustering.
The aim of this project is to segment areas of Kuala Lumpur and Johor Bahru based on the most common places captured from Foursquare. 

Using segmentation and clustering, we hope we can determine:
1. the similarity or dissimilarirty of both cities
2. classification of area located inside the city whether it is residential, tourism places, or others

<a id='data'></a>
# Data
The data acquired from wikipedia pages and restructure to csv file for easier manipulation and reading.



To start, let's get and look at the data. I've already downloaded it, so let's read it (from local drive) and load it to dataframe:

In [6]:
#import the required library
import numpy as np
import pandas as pd

#read csv file contain KL data
df_kl = pd.read_csv(r"C:\Users\Thor\Downloads\CapstoneProject-master\KL_disrict.csv")
df_kl.head()

   Postcode  District                Area
0     52100    Kepong             Jinjang
1     52100    Kepong  Taman Bukit Maluri
2     51200  Segambut    Bandar Menjalara
3     51200  Segambut         Bukit Kiara
4     51200  Segambut         Bukit Tunku

In [7]:
#examine data
print('Kuala Lumpur dataframe has {} district and {} areas.'.format(
        len(df_kl['District'].unique()),
        df_kl.shape[0]
    )
)

#grouping data to find District with highest number of area
df_kl.groupby('District').count()

Kuala Lumpur dataframe has 11 district and 66 areas.

                  Postcode  Area
District
Bandar Tun Razak         6     6
Batu                     2     2
Bukit Bintang           11    11
Cheras                   9     9
Kepong                   2     2
Lembah Pantai            6     6
Segambut                11    11
Seputeh                  8     8
Setiawangsa              3     3
Titiwangsa               5     5
Wangsa Maju              3     3

In [8]:
#read and load JB data
df_jb = pd.read_csv(r"C:\Users\Thor\Downloads\CapstoneProject-master\JB_disrict.csv")
df_jb.head()

   Postcode     District              Area
0     80000  Johor Bahru       Johor Bahru
1     81100  Johor Bahru  Bandar Dato' Onn
2     80200  Johor Bahru         Danga Bay
3     81100  Johor Bahru        Johor Jaya
4     81100  Johor Bahru         Desa Jaya

In [9]:
#examine
print('Johor Bahru dataframe has {} district and {} areas.'.format(
        len(df_jb['District'].unique()),
        df_jb.shape[0]
    )
)

#group by district
df_jb.groupby('District').count()

Johor Bahru dataframe has 3 district and 22 areas.

                 Postcode  Area
District
Iskandar Puteri         8     8
Johor Bahru            10    10
Pasir Gudang            4     4